@media screen {
    .content-wrapper {
        z-index: 0;
        position: relative;
        display: block;
        padding-top: 80px;
        width: 100%;

        -webkit-transition: all .3s linear;
        -moz-transition: all .3s linear;
        -ms-transition: all .3s linear;
        -o-transition: all .3s linear;
        transition: all .3s linear;

        background: $black-bg-opacity-dark-color; /* For browsers that do not support gradients */
        background: -webkit-linear-gradient(to right, $black-bg-opacity-color, lighten($black-bg-opacity-color, 15%), $black-bg-opacity-color); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(to right, $black-bg-opacity-color, lighten($black-bg-opacity-color, 15%), $black-bg-opacity-color); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(to right, $black-bg-opacity-color, lighten($black-bg-opacity-color, 15%), $black-bg-opacity-color); /* For Firefox 3.6 to 15 */
        background: linear-gradient(to right, $black-bg-opacity-color, lighten($black-bg-opacity-color, 15%), $black-bg-opacity-color);

        -webkit-box-shadow: 0 0 5px 0 lighten($black-bg-opacity-color, 25%) inset;
        -moz-box-shadow: 0 0 5px 0 lighten($black-bg-opacity-color, 25%) inset;
        box-shadow: 0 0 5px 0 lighten($black-bg-opacity-color, 25%) inset;

        overflow-y: hidden;

        h2 {
            font-size: 30px;
            color: $white;
        }

        &.show-in-small {
            display: block;
        }

        &.show-in-large {
            display: none;
        }
    }

    ._filter-bg {
        //&::before {
            content: '';
            z-index: -1;
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            background-color: #000;
            background-size: cover;
            background-repeat: no-repeat;
            //background-attachment: fixed;
            background-position: top left;
            background-image: url('images/background-sm.jpg');

            -ms-filter: blur(3px);
            -webkit-filter: blur(3px);
            filter: blur(3px);
        //}
    }

    .content {
        z-index: 0;
        opacity: 1;
        position: relative;
        padding: 20px 20px 15% 20px;
        overflow-y: hidden;

        &.invisible {
            opacity: 0;
        }

        &.visible {
            opacity: 1;
        }

        &.bounceInUp {
            -webkit-animation: 1s bounceInUp both;
            -o-animation: 1s bounceInUp both;
            animation: 1s bounceInUp both;
        }

        .text-indent {
            text-indent: 2em;
        }
    }

    .intro-wrapper {
        position: relative;
        width: 100%;
        margin-bottom: 40px;

        .intro {
            position: relative;
            display: block;

            .main-intro {
                position: relative;
                text-align: left;
                color: #fff;
                float: left;
            }

            .main-duration {
                position: relative;
                text-align: right;
                float: right;
            }

            &::after {
                content: "";
                display: block;
                clear: both;
            }
        }

        .sub {
            position: relative;
            display: block;
            vertical-align: top;

            .sub-intro {
                position: relative;
                display: block;
            }

            &::after {
                content: "";
                display: block;
                clear: both;
            }
        }
    }

    .avatar {
        position: relative;
        display: block;
        float: none;
        min-height: 400px;
        max-width: 100%;
        margin: 0 0 40px;
        background: transparent url('../assets/images/avatar.jpg') center center / cover;

        -moz-box-shadow: 1px 2px 3px 3px rgba(60, 60, 60, 0.4);
        -webkit-box-shadow: 1px 2px 3px 3px rgba(60, 60, 60, 0.4);
        box-shadow: 1px 2px 3px 3px rgba(60, 60, 60, 0.4);
    }

    .info-wrapper {
        position: relative;
        display: inline-block;
        margin: 0 4px;

        .info-icon {
            display: inline-block;
            width: 18px;
            height: 18px;
            line-height: 18px;
            font-size: 14px;
            text-align: center;
            color: #fff;
            background-color: $blue;

            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;

            -webkit-transition: background-color .3s ease-out;
            -moz-transition: background-color .3s ease-out;
            -ms-transition: background-color .3s ease-out;
            -o-transition: background-color .3s ease-out;
            transition: background-color .3s ease-out;

            &:hover,
            &:focus,
            &:active {
                background-color: lighten($blue, 10%);

                -webkit-transition: background-color .3s ease-out;
                -moz-transition: background-color .3s ease-out;
                -ms-transition: background-color .3s ease-out;
                -o-transition: background-color .3s ease-out;
                transition: background-color .3s ease-out;

                & + .info {
                    visibility: visible;
                    opacity: 1;

                    -webkit-transform: none;
                    -moz-transform: none;
                    -ms-transform: none;
                    -o-transform: none;
                    transform: none;

                    -webkit-transition: all .3s ease-out;
                    -moz-transition: all .3s ease-out;
                    -ms-transition: all .3s ease-out;
                    -o-transition: all .3s ease-out;
                    transition: all .3s ease-out;
                }
            }
        }

        .info {
            $info-bg: rgb(236, 245, 223);

            position: absolute;
            display: inline-block;
            padding: 12px;
            width: 250px;
            min-height: 60px;
            top: -26px;
            left: 40px;
            color: $gray;
            background-color: $info-bg;
            visibility: hidden;
            opacity: 0;

            -webkit-border-radius: 8px;
            -moz-border-radius: 8px;
            border-radius: 8px;

            -webkit-transform: scale(.9) rotate(20deg) skew(-10deg);
            -moz-transform: scale(.9) rotate(20deg) skew(-10deg);
            -ms-transform: scale(.9) rotate(20deg) skew(-10deg);
            -o-transform: scale(.9) rotate(20deg) skew(-10deg);
            transform: scale(.9) rotate(20deg) skew(-10deg);

            transform-origin: left 80%;

            -webkit-transition: all .3s ease-out;
            -moz-transition: all .3s ease-out;
            -ms-transition: all .3s ease-out;
            -o-transition: all .3s ease-out;
            transition: all .3s ease-out;

            .cusp {
                position: absolute;
                left: -20px;
                top: 26px;
                border-width: 10px;
                border-style: solid dashed dashed;
                border-color: transparent $info-bg transparent transparent;
            }

            .text {
                color: inherit;
            }

            .info-left {
                float: left;
                display: block;
                color: inherit;
            }

            .info-right {
                float: right;
                display: block;
                color: inherit;

                &::after {
                    content: '';
                    display: block;
                    clear: both;
                }
            }

            .chromatogram {
                float: right;
                display: block;
                right: 0;
                width: 100%;
                height: 30px;

                background: $black-bg-opacity-dark-color; /* For browsers that do not support gradients */
                background: -webkit-linear-gradient(to right, $red, $orange, $yellow, $green, $blue, $indigo, $purple); /* For Safari 5.1 to 6.0 */
                background: -o-linear-gradient(to right, $red, $orange, $yellow, $green, $blue, $indigo, $purple); /* For Opera 11.1 to 12.0 */
                background: -moz-linear-gradient(to right, $red, $orange, $yellow, $green, $blue, $indigo, $purple); /* For Firefox 3.6 to 15 */
                background: linear-gradient(to right, $red, $orange, $yellow, $green, $blue, $indigo, $purple);
            }

            &::after {
                content: '';
                display: block;
                clear: both;
            }
        }
    }

    .experience-wrapper {
        -webkit-animation: 1s bounceInUp both;
        -o-animation: 1s bounceInUp both;
        animation: 1s bounceInUp both;
    }
}

@media screen and (min-width: 992px) {
    .content-wrapper {
        padding: 0;

        &.show-in-small {
            display: none;
        }

        &.show-in-large {
            display: block;
        }
    }

    .content {
        display: block;
        margin: 0 auto;
        max-width: 992px;

        .indent {
            padding: 0 1.5em;
        }
    }

    .avatar {
        float: right;
        margin: 0 30px 0 40px;
        height: 400px;
        width: 300px;
    }

    .intro-wrapper {
        .intro {
            max-width: 768px;
            display: flex;
            flex-wrap: wrap;

            .main-intro {
                flex: 3;
            }

            .main-duration {
                flex: 1;
            }
        }

        .sub {
            position: relative;
            display: inline-block;

            .sub-intro {
                position: relative;
                display: block;

                &::after {
                    content: "";
                    display: block;
                    clear: both;
                }
            }
        }
    }
}

@media screen and (min-width: 1400px) {
    .content {
        max-width: 1400px;
    }

    .intro-wrapper {
        .intro {
            max-width: 992px;
        }

        .sub {
            width: 50%;
        }
    }
}

@keyframes bounceInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(2000px);
        -moz-transform: translateY(2000px);
        -ms-transform: translateY(2000px);
        -o-transform: translateY(2000px);
        transform: translateY(2000px);
    }

    60% {
        opacity: 1;
        -webkit-transform: translateY(-20px);
        -moz-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        -o-transform: translateY(-20px);
        transform: translateY(-20px);
    }

    80% {
        -webkit-transform: translateY(10px);
        -moz-transform: translateY(10px);
        -ms-transform: translateY(10px);
        -o-transform: translateY(10px);
        transform: translateY(10px);
    }

    100% {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
}