@media screen {
    .content-wrapper {
        z-index: 0;
        position: relative;
        padding-top: 80px;
        background: linear-gradient(to top, $black-bg-opacity-color, lighten($black-bg-opacity-color, 15%), $black-bg-opacity-color);
        box-shadow: 0 0 5px 0 lighten($black-bg-opacity-color, 25%) inset;
        transition: 300ms;

        h2 {
            font-size: 30px;
            color: $white;
        }

        &.show-in-small {
            display: block;
        }

        &.show-in-large {
            display: none;
        }
    }

    .content {
        position: relative;
        padding: 20px;

        .indent {
            padding: 0 1.5em;
        }

        .text-indent {
            text-indent: 2em;
        }
    }

    .intro-wrapper {
        position: relative;
        width: 100%;
        margin-bottom: 40px;

        .intro {
            position: relative;
            display: block;

            .main-intro {
                position: relative;
                text-align: left;
                color: #fff;
                float: left;
            }

            .main-duration {
                position: relative;
                text-align: right;
                float: right;
            }

            &::after {
                content: "";
                display: block;
                clear: both;
            }
        }

        .sub {
            position: relative;
            display: block;

            .sub-intro {
                position: relative;
                display: block;
            }

            &::after {
                content: "";
                display: block;
                clear: both;
            }

            & + .sub {
                margin-top: 20px;
            }
        }
    }
}

@media screen and (min-width: 992px) {
    .content-wrapper {
        position: absolute;
        display: block;
        top: 20px;
        left: 300px;
        right: 20px;
        bottom: 20px;
        overflow-y: auto;
        padding: 0;
        transition: 300ms;

        &.show-in-small {
            display: none;
        }

        &.show-in-large {
            display: block;
        }
    }

    .content {
        position: absolute;
        display: block;
        width: 100%;
    }

    .intro-wrapper {
        max-width: 768px;

        .intro {
            display: flex;
            flex-wrap: wrap;

            .main-intro {
                flex: 3;
            }

            .main-duration {
                flex: 1;
            }
        }
    }
}

@media screen and (min-width: 1280px) {
    .content-wrapper {
        top: 60px;
        right: 40px;
        left: 380px;
    }
}