@media screen {
    .content-wrapper {
        z-index: 0;
        position: absolute;
        padding-top: 80px;
        background: linear-gradient(to right, $black-bg-opacity-color, lighten($black-bg-opacity-color, 15%), $black-bg-opacity-color);
        box-shadow: 0 0 5px 0 lighten($black-bg-opacity-color, 25%) inset;
        transition: 300ms;

        h2 {
            font-size: 30px;
            color: $white;
        }

        &.show-in-small {
            display: block;
        }

        &.show-in-large {
            display: none;
        }
    }

    .content {
        position: relative;
        padding: 20px;
        word-break: break-all;

        .text-indent {
            text-indent: 2em;
        }
    }

    .intro-wrapper {
        position: relative;
        width: 100%;
        margin-bottom: 40px;

        .intro {
            position: relative;
            display: block;

            .main-intro {
                position: relative;
                text-align: left;
                color: #fff;
                float: left;
            }

            .main-duration {
                position: relative;
                text-align: right;
                float: right;
            }

            &::after {
                content: "";
                display: block;
                clear: both;
            }
        }

        .sub {
            position: relative;
            display: block;
            vertical-align: top;

            .sub-intro {
                position: relative;
                display: block;
            }

            &::after {
                content: "";
                display: block;
                clear: both;
            }
        }
    }
}

@media screen and (min-width: 992px) {
    .content-wrapper {
        display: block;
        left: 300px;
        right: 20px;
        padding: 0;
        margin: 20px 0;
        overflow-y: auto;
        transition: 300ms;

        &.show-in-small {
            display: none;
        }

        &.show-in-large {
            display: block;
        }
    }

    .content {
        display: block;
        max-width: 992px;

        .indent {
            padding: 0 1.5em;
        }
    }

    .intro-wrapper {
        .intro {
            max-width: 768px;

            display: flex;
            flex-wrap: wrap;

            .main-intro {
                flex: 3;
            }

            .main-duration {
                flex: 1;
            }
        }

        .sub {
            position: relative;
            display: inline-block;

            .sub-intro {
                position: relative;
                display: block;

                &::after {
                    content: "";
                    display: block;
                    clear: both;
                }
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    .content-wrapper {
        left: 370px;
        right: 30px;
        margin: 50px 0;
    }

    .content {
        max-width: inherit;
    }

    .intro-wrapper {
        .intro {
            max-width: 992px;
        }

        .sub {
            width: 33%;
        }
    }
}

@media screen and (min-width: 1440px) {
    .intro-wrapper {
        .sub {
            width: 25%;
        }
    }
}