@media screen {
    .navigation-mask {
        position: fixed;
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: 0;
        padding: 0;
        z-index: 1;
        background-color: rgba(255, 255, 255, .4);
        opacity: 0;
        visibility: hidden;

        -webkit-transition: all .3s linear;
        -moz-transition: all .3s linear;
        -ms-transition: all .3s linear;
        -o-transition: all .3s linear;
        transition: all .3s linear;

        &.active {
            visibility: visible;
            opacity: 1;

            -webkit-transition: all .3s linear;
            -moz-transition: all .3s linear;
            -ms-transition: all .3s linear;
            -o-transition: all .3s linear;
            transition: all .3s linear;
        }
    }

    .main-header {
        position: fixed;
        display: block;
        width: 100%;
        left: 0;
        z-index: 2;
        vertical-align: bottom;
        -webkit-border-radius: 1px;
        -moz-border-radius: 1px;
        border-radius: 1px;

        background: $black-bg-opacity-dark-color; /* For browsers that do not support gradients */
        background: -webkit-linear-gradient(to top, $black-bg-opacity-dark-color, lighten($black-bg-opacity-dark-color, 10%)); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(to top, $black-bg-opacity-dark-color, lighten($black-bg-opacity-dark-color, 10%)); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(to top, $black-bg-opacity-dark-color, lighten($black-bg-opacity-dark-color, 10%)); /* For Firefox 3.6 to 15 */
        background: linear-gradient(to top, $black-bg-opacity-dark-color, lighten($black-bg-opacity-dark-color, 10%));

        -webkit-box-shadow: 0 0 5px 0 lighten($black-bg-opacity-dark-color, 25%) inset;
        -moz-box-shadow: 0 0 5px 0 lighten($black-bg-opacity-dark-color, 25%) inset;
        box-shadow: 0 0 5px 0 lighten($black-bg-opacity-dark-color, 25%) inset;

        -webkit-transition: all .3s linear;
        -moz-transition: all .3s linear;
        -ms-transition: all .3s linear;
        -o-transition: all .3s linear;
        transition: all .3s linear;

        background: $orange-bg-color; /* For browsers that do not support gradients */
        background: -webkit-linear-gradient(30deg, $orange-bg-color, lighten($orange-bg-color, 20%)); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(30deg, $orange-bg-color, lighten($orange-bg-color, 20%)); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(30deg, $orange-bg-color, lighten($orange-bg-color, 20%)); /* For Firefox 3.6 to 15 */
        background: linear-gradient(30deg, $orange-bg-color, lighten($orange-bg-color, 20%)); /* Standard syntax */

        hgroup {
            .show-more {
                cursor: pointer;
                margin: 5px 10px;
                display: inline-block;
                overflow: hidden;
                line-height: 38px;
                text-align: left;
                font-size: 28px;
                color: $white;
            }

            .name {
                display: inline-block;
                text-align: left;
                color: $white;
                font-size: 40px;
                line-height: 38px;
                margin: 5px 0 5px 10px;
                overflow: hidden;
            }

            .title {
                display: inline-block;
                float: right;
                text-align: right;
                color: #eee;
                font-size: 28px;
                line-height: 38px;
                margin: 5px 10px 5px 0;
                overflow: hidden;
            }

            &::after {
                content: "";
                display: block;
                clear: both;
            }
        }
    }

    .main-menu {
        position: fixed;
        display: block;
        width: 80%;
        height: 100%;
        top: 0;
        left: 0;
        bottom: 0;
        padding: 0;
        margin: 0;
        z-index: 1;
        text-align: right;

        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        transform: translateX(-100%);

        background: $black-bg-opacity-dark-color; /* For browsers that do not support gradients */
        background: -webkit-linear-gradient(to top, $black-bg-opacity-dark-color, lighten($black-bg-opacity-dark-color, 10%)); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(to top, $black-bg-opacity-dark-color, lighten($black-bg-opacity-dark-color, 10%)); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(to top, $black-bg-opacity-dark-color, lighten($black-bg-opacity-dark-color, 10%)); /* For Firefox 3.6 to 15 */
        background: linear-gradient(to top, $black-bg-opacity-dark-color, lighten($black-bg-opacity-dark-color, 10%));

        -webkit-box-shadow: 0 0 5px 0 lighten($black-bg-opacity-dark-color, 25%) inset;
        -moz-box-shadow: 0 0 5px 0 lighten($black-bg-opacity-dark-color, 25%) inset;
        box-shadow: 0 0 5px 0 lighten($black-bg-opacity-dark-color, 25%) inset;

        -webkit-transition: all .3s linear;
        -moz-transition: all .3s linear;
        -ms-transition: all .3s linear;
        -o-transition: all .3s linear;
        transition: all .3s linear;

        &.active {
            -webkit-transform: translateX(0);
            -moz-transform: translateX(0);
            -ms-transform: translateX(0);
            -o-transform: translateX(0);
            transform: translateX(0);
        }

        ul {
            margin-top: 41px;
            margin-bottom: 74px;
            padding: 0;

            li {
                width: 100%;
                height: 46px;
                list-style: none;
                line-height: 46px;
                text-align: inherit;

                &.background {
                    display: block;
                    position: absolute;
                    top: -46px;
                    z-index: -1;

                    -webkit-box-shadow: 0 0 10px 0 rgba(255, 255, 255, .1) inset;
                    -moz-box-shadow: 0 0 10px 0 rgba(255, 255, 255, .1) inset;
                    box-shadow: 0 0 10px 0 rgba(255, 255, 255, .1) inset;

                    -webkit-transition: 0.35s ease-out 0s;
                    -moz-transition: 0.35s ease-out 0s;
                    -ms-transition: 0.35s ease-out 0s;
                    -o-transition: 0.35s ease-out 0s;
                    transition: 0.35s ease-out 0s;

                    $background-color: rgba(255, 255, 255, .3);

                    background: $background-color;
                    background: -webkit-linear-gradient(-135deg, $background-color, mix($background-color, black, 40%)); /* For Safari 5.1 to 6.0 */
                    background: -o-linear-gradient(-135deg, $background-color, mix($background-color, black, 40%)); /* For Opera 11.1 to 12.0 */
                    background: -moz-linear-gradient(-135deg, $background-color, mix($background-color, black, 40%)); /* For Firefox 3.6 to 15 */
                    background: linear-gradient(-135deg, $background-color, mix($background-color, black, 40%)); /* Standard syntax */
                }

                a {
                    display: block;
                    height: inherit;
                    line-height: inherit;
                    padding-right: 20px;
                    font-size: 22px;
                    color: #838383;

                    -webkit-transform: skew(0deg);
                    -moz-transform: skew(0deg);
                    -ms-transform: skew(0deg);
                    -o-transform: skew(0deg);
                    transform: skew(0deg);

                    -webkit-transition: all .2s ease-out;
                    -moz-transition: all .2s ease-out;
                    -ms-transition: all .2s ease-out;
                    -o-transition: all .2s ease-out;
                    transition: all .2s ease-out;
                }

                &.active,
                &:hover {
                    a {
                        padding-right: 25px;
                        font-size: 24px;
                        color: $white;
                        line-height: 48px;
                        text-decoration: none;

                        -webkit-transform: skew(-2deg);
                        -moz-transform: skew(-2deg);
                        -ms-transform: skew(-2deg);
                        -o-transform: skew(-2deg);
                        transform: skew(-2deg);

                        -webkit-transition: all .2s ease-out;
                        -moz-transition: all .2s ease-out;
                        -ms-transition: all .2s ease-out;
                        -o-transition: all .2s ease-out;
                        transition: all .2s ease-out;
                    }
                }

                $elements: 15;
                @for $i from 1 to $elements {
                    &:nth-child(#{$i}).active ~ .background {
                        top: calc(#{$i} * 46px - 5px);
                    }
                }

                @for $i from 1 to $elements {
                    &:nth-child(#{$i}):hover ~ .background {
                        top: calc(#{$i} * 46px - 5px);
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 992px) {
    .navigation-mask {
        display: none;
    }

    .main-header {
        display: none;
        width: 270px;
        height: 134px;
        top: 20px;
        bottom: auto;
        margin-left: -5px;
        border: 1px solid $orange-bg-color;
        vertical-align: middle;
        text-align: center;

        hgroup {
            .show-more {
                display: none;
            }

            .name {
                margin: 12px 0 0 0;
                line-height: 64px;
                text-align: center;
                font-size: 46px;
            }

            .title {
                float: none;
                margin: 0 0 12px 0;
                text-align: center;
            }
        }
    }

    .main-menu {
        width: 100%;
        top: calc(100% - 46px);
        height: 46px;
        padding: 0;
        position: absolute;
        display: block;
        margin: 0;
        z-index: 1;
        text-align: center;

        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);

        -webkit-transition: none;
        -moz-transition: none;
        -ms-transition: none;
        -o-transition: none;
        transition: none;

        &.fixed {
            position: fixed;
            top: 0;

            -webkit-transition: none;
            -moz-transition: none;
            -ms-transition: none;
            -o-transition: none;
            transition: none;
        }

        ul {
            margin: 0;

            li {
                width: 150px;
                float: left;

                &.background {
                    top: 0;
                    left: -150px;
                }

                a {
                    padding: 0;
                }

                &.active,
                &:hover {
                    a {
                        padding-right: 0;
                    }
                }

                $elements: 15;
                @for $i from 1 to $elements {
                    &:nth-child(#{$i}).active ~ .background {
                        top: 0;
                        left: calc((#{$i} - 1) * 150px);
                    }
                }

                @for $i from 1 to $elements {
                    &:nth-child(#{$i}):hover ~ .background {
                        top: 0;
                        left: calc((#{$i} - 1) * 150px);
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1400px) {
    .main-header {
        top: 60px;
    }
}