<div ng-controller="ExperienceController">
    <h2 class="title" ng-bind="title"></h2>

    <article class="indent experience-wrapper" ng-repeat="data in experience | limitTo: max">
        <div class="intro-wrapper">
            <div class="intro">
                <p class="main-intro" ng-bind="data.name"></p>
                <p class="main-duration italic" ng-bind="data.duration"></p>
            </div>
            <div class="intro">
                <p ng-bind="data.intro"></p>
            </div>

            <div class="sub indent" ng-repeat="item in data.detail">
                <h3 class="sub-intro italic white" ng-bind="item.title"></h3>
                <div class="sub-intro" ng-repeat="tag in item.tags">
                    <a href="javascript:;" class="tag {{item.tagClass}} italic" ng-bind="tag"></a>
                </div>
            </div>
        </div>
    </article>

    <h3 class="text-center">
        <a href="javascript:;" ng-show="max !== experience.length" ng-click="showAll();">查看所有工作經歷</a>
    </h3>
</div>
