<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <base href="/" />

    <title>Jason Tseng - Front-End Developer</title>

    <meta name="description" content="Jason Tseng - Front-End Developer" />
    <meta name="author" content="Jason Tseng" />
    <meta name="robots" content="index" />

    <link rel="icon" href="assets/images/favicon.ico" />

    <link rel="stylesheet" href="assets/bundle/bundle.css" />
    <link rel="stylesheet" href="assets/main.css" />

    <meta property="og:title" content="Jason Tseng - Front-End Developer" />
    <meta property="og:url" content="http://jason-tseng.com/" />
    <meta property="og:description" content="Jason Tseng - Front-End Developer. Personal website with my resume, CV.
     It contains 'about, experience, skills, education, employment, sample, contact'" />
    <meta property="og:image" content="http://jason-tseng.com/assets/images/preview.jpg" />
    <meta property="og:type" content="website"/>
</head>

<body class="skin" ng-controller="MainController">

<div id="bubble" class="bubble-wrapper"></div>

<div class="navigation-mask {{onShowingNavigation ? 'active' : ''}}" ng-click="hideNavigationMenu();"></div>

<header class="main-header">
    <hgroup>
        <div class="show-more" ng-click="showNavigationMenu();">
            <i class="fa fa-list"></i>
        </div>

        <h1 class="name">JASON TSENG</h1>
        <h3 class="title">FRONT-END DEVELOPER</h3>
    </hgroup>
</header>

<aside class="main-menu">
    <nav>
        <ul id="main_menu">
            <li ng-click="toggleClass(item.order); moveSmoothly(item.id); hideNavigationMenu();" ng-repeat="item in menu_list | orderBy: 'order'">
                <a href="javascript:;" ng-bind="item.name"></a>
            </li>
            <li class="background"></li>
        </ul>
    </nav>
</aside>

<div class="tour-guide">
    <div class="flex">
        <h1 class="text-center text-large white main-shadow">
            JASON TSENG - Front-End Developer
        </h1>
    </div>
</div>

<div class="content-wrapper">
    <section class="content fade-in" ng-repeat="item in menu_list" app-part="{{item.id}}" id="{{item.id}}"></section>
</div>

<script src="assets/bundle/bundle.js"></script>
<script src="assets/main.js" defer></script>

<link rel="stylesheet" href="assets/last.css" property="" />

</body>
</html>