<div ng-controller="SkillsController">
    <h2 class="main-title" ng-bind="title"></h2>

    <div class="info">
        <span class="info-icon">
            <i class="fa fa-info"></i>
        </span>

        <div class="chromatogram-wrapper">
            <div class="dialog"></div>
            <!--<div class="chromatogram-left">非常熟練</div>-->
            <!--<div class="chromatogram-right">不熟練</div>-->
            <!--<div class="chromatogram"></div>-->
        </div>
    </div>

    <article class="indent">
        <div class="intro-wrapper">
            <div class="sub indent" ng-repeat="items in skills">
                <h3 class="italic white" ng-bind="items.title"></h3>

                <div class="sub-intro" ng-repeat="item in items.sub">
                    <a href="javascript:;" class="tag {{item.tagClass}} italic" ng-bind="item.title"></a>
                    <p class="indent" ng-bind="item.content"></p>
                </div>
            </div>
        </div>
    </article>
</div>
