//http://codepen.io/fernandopasik/pen/AHCiu
/* Change the font-size and you'll see all proportional */
/* Some cool theming for the tag */
@mixin color-style($color) {
    color: #fff;
    border-color: lighten($color, 20%);
    border-style: solid;
    background-color: $color;
}

// shadow
@mixin box-shadow-before() {
    -moz-box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.15);
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.15);
}

// shadow
@mixin box-shadow-after() {
    -moz-box-shadow: inset 2px 3px 3px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: inset 2px 3px 3px rgba(0, 0, 0, 0.15);
    box-shadow: inset 2px 3px 3px rgba(0, 0, 0, 0.15);
}

@mixin custom-color($color) {
    @include color-style($color);

    &::after, &::before {
        @include color-style($color);
    }

    &:hover {
        background-color: lighten($color, 8%);

        &::before {
            background-color: lighten($color, 8%);
        }

        &::after {
            background-color: rgba(0, 0, 0, 0.4);
        }
    }
}

@media screen {
    /* All the necesary for making the tag */
    .tag {
        display: inline-block;
        float: left;
        text-decoration: none;
        font-size: 18px;
        padding: 6px 12px;
        line-height: 1;
        position: relative;
        margin: 2px 12px;
        border-width: 1px 1px 1px 0;
        -moz-border-radius: 0 4.5px 4.5px 0;
        -webkit-border-radius: 0;
        border-radius: 0 4.5px 4.5px 0;

        $color: rgb(198, 116, 11); // default color
        @include custom-color($color);
        @include box-shadow-before();
        
        -webkit-transition: all .3s ease-out;
        -moz-transition: all .3s ease-out;
        -ms-transition: all .3s ease-out;
        -o-transition: all .3s ease-out;
        transition: all .3s ease-out;

        &::before, &::after {
            content: "";
            position: absolute;
            display: block;
            border-width: 1px;

            -webkit-transition: all .3s ease-out;
            -moz-transition: all .3s ease-out;
            -ms-transition: all .3s ease-out;
            -o-transition: all .3s ease-out;
            transition: all .3s ease-out;
        }

        &::before {
            z-index: -1;
            left: 0;
            top: 0;
            width: 30px;
            height: 30px;
            -moz-transform: translate(-15px, 0) scale(0.745) rotateZ(-45deg);
            -ms-transform: translate(-15px, 0) scale(0.745) rotateZ(-45deg);
            -o-transform: translate(-15px, 0) scale(0.745) rotateZ(-45deg);
            -webkit-transform: translate(-15px, 0) scale(0.745) rotateZ(-45deg);
            transform: translate(-15px, 0) scale(0.745) rotateZ(-45deg);
            -moz-border-radius: 6px 0 0 0;
            -webkit-border-radius: 6px;
            border-radius: 6px 0 0 0;

            @include color-style($color);
            @include box-shadow-before();
        }

        &::after {
            top: 10.5px;
            left: -3px;
            width: 9px;
            height: 9px;
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
            border-radius: 50%;
            background-color: rgba(0, 0, 0, 0.6);

            @include color-style($color);
            @include box-shadow-after();
        }

        //&.red {
        //    @include custom-color($red);
        //}
        //
        //&.orange {
        //    @include custom-color($orange);
        //}
        //
        //&.yellow {
        //    @include custom-color($yellow);
        //}
        //
        //&.green {
        //    @include custom-color($green);
        //}
        //
        //&.blue {
        //    @include custom-color($blue);
        //}
        //
        //&.indigo {
        //    @include custom-color($indigo);
        //}
        //
        //&.purple {
        //    @include custom-color($purple);
        //}
        //
        //&.gray {
        //    @include custom-color($gray);
        //}
    }
}

@media screen and (min-width: 992px) {
    .tag {
        display: inline-block;
        float: none;
    }
}
