$no-focus-font-color: #838383;
$border-color: #737373;
$orange-bg-color: rgba(151, 80, 5, 1);
$black-bg-opacity-color: rgba(0, 0, 0, .6);
$black-bg-opacity-dark-color: rgba(0, 0, 0, .8);

$red: rgb(186, 51, 54);
$orange: rgb(198, 116, 11);
$yellow: rgb(187, 186, 39);
$green: rgb(70, 158, 11);
$blue: rgb(62, 112, 204);
$indigo: rgb(74, 48, 181);
$purple: rgb(140, 63, 139);
$white: rgb(255, 255, 255);
$gray: rgb(97, 97, 97);
$black: rgb(0, 0, 0);

@font-face {
    font-family: 'Oswald-Bold';
    src: url('fonts/Oswald/Oswald-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald-BoldItalic';
    src: url('fonts/Oswald/Oswald-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Oswald-Light';
    src: url('fonts/Oswald/Oswald-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald-LightItalic';
    src: url('fonts/Oswald/Oswald-LightItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Oswald-Medium';
    src: url('fonts/Oswald/Oswald-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald-MediumItalic';
    src: url('fonts/Oswald/Oswald-MediumItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'XinGothic';
    src: url('fonts/shin-black.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}